# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.vscode
# testing
/coverage
/src/app/api/test

# next.js
/.next/
/out/
**/.fuse_hidden*
# production
/build

# misc
.DS_Store
*.pem
# /prisma/migrations
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.dev
.env
.env.dev
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.devnotes.txt

#code-editor
.zed

#log-files
logs