@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 354 0% 95%;
    --foreground: 354 0% 0%;
    --card: 354 0% 90%;
    --card-foreground: 354 0% 10%;
    --popover: 354 0% 95%;
    --popover-foreground: 354 95% 0%;
    --primary: 354 81% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 354 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 316 10% 85%;
    --muted-foreground: 354 0% 35%;
    --accent: 316 10% 80%;
    --accent-foreground: 354 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 354 0% 90%;
    --border: 354 20% 50%;
    --input: 354 20% 18%;
    --ring: 354 81% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 354 10% 5%;
    --foreground: 354 0% 90%;
    --card: 354 0% 0%;
    --card-foreground: 354 0% 90%;
    --popover: 354 10% 5%;
    --popover-foreground: 354 0% 90%;
    --primary: 354 81% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 354 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 316 10% 15%;
    --muted-foreground: 354 0% 60%;
    --accent: 316 10% 15%;
    --accent-foreground: 354 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 354 0% 90%;
    --border: 354 20% 18%;
    --input: 354 20% 18%;
    --ring: 354 81% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
